body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
}

#main-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.article-preview-component {
  border-radius: 10px;
  margin: auto;
  display: flex;
  width: 600px;
  background-color: white;
  box-shadow: 0px 9px 30px hsla(218, 16%, 54%, 0.466);
}

.article-preview-image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.article-preview-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.article-preview-content {
  padding: 0px 30px;
  color: hsl(217, 19%, 35%);
}

.article-preview-content h4 {
  font-size: 17px;
}

.article-preview-content p {
  font-size: 13px;
  color: hsl(214, 17%, 51%);
}

.article-preview-author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 17px 0px;
}

.article-preview-author-image {
  display: flex;
}

.article-preview-author-image img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  overflow: hidden;
}

.article-preview-author-content {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}
.article-preview-author-content h6 {
  margin: 3px;
}
.article-preview-author-content p {
  margin: 3px;
  font-size: 11px;
  color: hsl(214, 17%, 51%);
}

.article-preview-component-share {
  width: 30px;
  height: 30px;
  display: flex;
  background-color: hsl(210, 46%, 95%);
  border-radius: 100%;
}

.article-preview-component-share img {
  padding: 10px;
  width: 10px;
}

.article-preview-component-share {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Popup text */
.article-preview-component-share .popuptext {
  visibility: hidden;
  background-color: hsl(217, 19%, 35%);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 30px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  right: -360%;
  /* margin-left: -96px; */
  display: flex;
  flex-direction: row;
}
.article-preview-component-share .popuptext p {
  letter-spacing: 5px;
}
/* Popup arrow */
.article-preview-component-share .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.article-preview-component-share .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.article-preview-component-share .show img {
  width: 20px;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .article-preview-component {
    width: 340px;
    flex-direction: column;
  }
}
