<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Article Preview Component</title>
    <meta name="description" content="Article Preview Component">
    <meta name="author" content="shelomoh">

    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" rel="stylesheet">
</head>

<body>

    <div id='main-layout'>
        <div class='article-preview-component'>
            <div class='article-preview-image'>
                <img src='../images/drawers.jpg' />
            </div>

            <div class='article-preview-content'>
                <h4>Shift the overall look and feel by adding these wonderful touches to
                    furniture
                    in your home</h4>
                <p>Ever been in a room and felt like something was
                    missing? Perphaps it felt
                    slightly bare and uninvitinng.
                    I've got some simple tips to help you make any room feel complete </p>
                <div class='article-preview-author'>

                    <div class='article-preview-author-image'>
                        <img src=' ../images/avatar-michelle.jpg' />

                        <div class='article-preview-author-content'>
                            <h6 style="
                        ">MMichelle Appleton</h6>
                            <p>28 Jun 2020</p>
                        </div>

                    </div>
                    <div class='article-preview-component-share' onclick="myFunction()">
                        <img src="../images/icon-share.svg" />
                        <span class="popuptext" id="myPopup">
                            <p>SHARE</p><img src='../images/icon-facebook.svg' /><img
                                src="../images/icon-twitter.svg" /> <img src='../images/icon-pinterest.svg' />
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        // When the user clicks on div, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
    <script src="scripts.js"></script>
</body>

</html>